.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 5rem);
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1120px;
}

.hero {
    max-width: 600px;

    > span {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1 {
        font-size: 4.5rem;
        font-weight: 900;
        margin-top: 2.5rem;
        line-height: 4.5rem;
    }

    span {
        color: var(--cyan-500);
    }

    p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;

        span {
            font-weight: bold;
        }
    }

    button {
        margin-top: 2rem;
    }
}

.imageContainer {
    display: block;
}

.image {
    animation: bounce 2s ease-in-out infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-0.5rem);
    }
}

@media (max-width: 960px) {
    .imageContainer {
        display: none;
    }
}